/*---------------------------------------------*/
@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: 'Roboto';
  }

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background: -webkit-linear-gradient(270deg, #c850c0, #4158d0);
}

footer {
    height: 40px;
    background: #312938;
    width: 100%;
    margin-bottom: 0;
}
header {
    height: 100px;
    padding: 3%;
    margin-top: 2%;
}

header h1 {
    color: white;
    font-size: 36px;
    font-family: 'Roboto';
}

main {
    margin: 5% 0;
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.signin__text {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.form_btn_signup {
    color: #030f47;
    font-size: 18px;
    text-decoration: underline;
}

button:active {
    transform: scale(1.2);
}
.todo__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
}
.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 7%;
    height: 100%;

}
.todo__desc {
    text-align: center;
    margin: 2%;
    font-size: 18px;
}


.todo__priority {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.todo__priority p {
    font-size: 20px;
    margin-right: 5%;
}
.todo__priority select {
    font-size: 18px;
    padding: 3px;
}

.todo__deadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 4%;
}
.todo__deadline p {
    font-size: 18px;
}
.todo__btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
}

.todo__change {
    background-color: aqua;
}
.todo__del {
    background-color: red;
}

.todo__time {
    width: 100%;
    height: 30px;
}

.todo__deadline label{
    margin: 2%;
}

.todo__deadline input{
    padding: 1%;
    font-size: 18px;
    background-color: aquamarine;
    margin-bottom: 3%;
}

.todo__headline {
    text-align: center;
    font-size: 30px;
}

.todo__desc {
    width: 100%;
    min-width: 400px;
    height: 200px;
}