<form action="">
    <div class="todo">
        <input class="todo__headline" type="text" value="Headline">
        <textarea class="todo__desc">Description Description Description Description Description Description
            Description Description Description </textarea>
        <div class="todo__priority">
            <p>Приоритет</p>
            <select>
                <option>низкий</option>
                <option>нормальный</option>
                <option>высокий</option>
            </select>
        </div>
        <div class="todo__deadline">
            <label for="deadline">Deadline:</label>
            <input id="deadline" class="todo__time" type="datetime-local" value="2018-06-12T19:30">
        </div>
        <div class="todo__btns">
            <button class="btn todo__change">Изменить</button>
            <button class="btn todo__del">Удалить</button>
        </div>
    </div>
</form>